# npm
node_modules

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Rust build folder
backend/target

# Obsidian plugin build folder
plugin/dist

backend/db.sqlite3*
backend/config.yml

*.log

plugin/coverage
