# npm
node_modules

# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Rust build folder
backend/target

obsidian-plugin/dist
sync-client/dist

backend/db.sqlite3*
backend/config.yml

*.log

plugin/coverage
