# Exclude macOS Finder (System Explorer) View States
.DS_Store

# Rust build folder
target

# Node dependencies
node_modules

# WebPack build output
dist

# Generated wasm-bindgen bundler + wasm2js output for the React Native build
pkg-rn

# Python virtual environment
.venv
